.detect-page {
  padding: 2rem;
  text-align: center;
  color: #00ffc8;
}

.detect-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 12px #00ffc8;
}

.detect-wrapper {
  position: relative;
  display: inline-block;
  border: 2px solid #00ffc8;
  box-shadow: 0 0 20px #00ffc8, inset 0 0 10px #00ffc8;
  border-radius: 12px;
}

.video-feed {
  width: 600px;
  border-radius: 12px;
}

.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
}
.scanner-page {
  padding: 2rem;
  text-align: center;
}

.scanner-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 12px #00ffc8;
}

.mode-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.mode-btn {
  padding: 0.7rem 1.5rem;
  border: 2px solid #00ffc8;
  background: transparent;
  color: #00ffc8;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.mode-btn:hover {
  background-color: rgba(0, 255, 200, 0.2);
}

.mode-btn.active {
  background-color: rgba(0, 255, 200, 0.4);
  box-shadow: 0 0 15px #00ffc8;
}
